.idea
*.iml
out
gen
.github/
npm-debug.log
yarn-error.log
bootstrap/compiled.php
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Jenkinsfile
database/*.sqlite*
docker
!docker/production/start
!docker/production/php.ini
!docker/production/php-fpm.conf
!docker/dev/start
!docker/dev/php.ini
!docker/dev/php-fpm.conf
!docker/dev/supervisord.conf
!docker/dev/supervisor-php.conf
!docker/dev/supervisor-queue-worker.conf
!docker/dev/supervisor-vite.conf
!docker/dev/nginx.conf
.gitignore
.gitattributes
.dockerignore
*.cache
.git
.vscode/
node_modules
vendor
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/framework/testing
storage/logs
public/storage
public/build
public/hot